@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary Font Family */
@font-face {
  font-family: "Ginora Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Ginora Sans"),
    url("https://fonts.cdnfonts.com/s/18654/Ginóra Sans Regular.woff")
      format("woff");
}

@font-face {
  font-family: "Ginora Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Ginora Sans"),
    url("https://fonts.cdnfonts.com/s/18654/Ginóra Sans Semi Bold.woff")
      format("woff");
}

@font-face {
  font-family: "Ginora Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Ginora Sans"),
    url("https://fonts.cdnfonts.com/s/18654/Ginóra Sans Bold.woff")
      format("woff");
}

/* Secondary Font Family */
@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Regular"),
    url("https://fonts.cdnfonts.com/s/16219/Gilroy-Regular.woff") format("woff");
}

.grad-text {
  font-size: 82px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #66ffe6 -160.13deg,
    #8093ff 42.37deg,
    #66ffe6 199.87deg,
    #8093ff 402.37deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body {
  color: #f4f4f4;
  background: #1d1d1d;
}
