@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary Font Family */
@font-face {
  font-family: "Ginora Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Ginora Sans"),
    url("https://fonts.cdnfonts.com/s/18654/Ginóra Sans Regular.woff")
      format("woff");
}

@font-face {
  font-family: "Ginora Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Ginora Sans"),
    url("https://fonts.cdnfonts.com/s/18654/Ginóra Sans Semi Bold.woff")
      format("woff");
}

@font-face {
  font-family: "Ginora Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Ginora Sans"),
    url("https://fonts.cdnfonts.com/s/18654/Ginóra Sans Bold.woff")
      format("woff");
}

/* Secondary Font Family */
@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Regular"),
    url("https://fonts.cdnfonts.com/s/16219/Gilroy-Regular.woff") format("woff");
}

.grad-text {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #66ffe6 -160.13deg,
    #8093ff 42.37deg,
    #66ffe6 199.87deg,
    #8093ff 402.37deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #f4f4f4;
  background: #1d1d1d;
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans capitalize;
  }
  h1 {
    @apply text-[42px] sm:text-[82px] font-bold;
  }
  h2 {
    @apply text-[36px] sm:text-[62px];
  }
  h3 {
    @apply text-[26px] sm:text-[44px];
  }
  h4 {
    @apply text-[20px] sm:text-[26px] font-semibold;
  }
  h5 {
    @apply text-[14px] sm:text-[22px];
  }
  h6 {
    @apply text-[12px] sm:text-[16px] tracking-[8px] text-body;
  }
  p {
    @apply font-body text-body text-base;
  }

  section {
    @apply mb-24 sm:mb-48;
  }
}

.hero {
  background: url(./assets/grad-background.svg);
  background-size: cover;
}
